* {
  margin: 0;
  padding: 0
}

.mi-nav {
  background-color: black;
}

.top {
  margin-top: 10vh;
}

.logo {
  margin-top: 30%;
}

.mi-btn {
  width: 90%;
  background: #FEE522;
  color: black;
}

.register {
  margin: 8% 8%;
}

#register,
#login-text {
  cursor: pointer;
}

.hide {
  display: none;
}

/* #logo-img{
  width: 900%;
  height: 10vh;
  background-image: url(../img/clapbn-01.png);
  background-size: cover;
} */

.mi-carr {
  margin-top: -20%;
  height: 62vh;
}

.muro {
  background: black;
}

.t-area {
  color: white
}

.modal-style {
  width: 100%;
  height: 60vh;
}

iframe {
  margin-left: -7%;

}

.hide {
  display: none;
}

.block {
  display: block !important;
}

#img-user img{
  width: 40px;
  vertical-align: middle;
}